.hide{
    display: none;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
a{
    text-decoration: none;
}
ul{
 margin: 0;
 padding: 0;
    list-style-type: none;
}
h1,
h2,
h3,
p{
    margin: 0;
    padding: 0;
    
}
h3{
    font-size: 20;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container {
    /* mobile */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid red;
    outline-offset: -2px;
}
@media screen and (min-width: 768px) {
    .container {
        /* tablet */
        max-width: 768px;
       
    } 
}
@media screen and (min-width: 1158px) {
    .container {
        /* desctop */
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    } 
}









  

/* 1 блок */


.top-line .container{
    display: flex;
  }
.header{
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 24px 0 24px;
}
.top-line{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-list{
    display: flex;
}
.header-item{
    margin-right: 40px;
}
.header-item:last-child{
    margin-right: 0;
}
.adres-list{
    display: flex;
}
.adres-item{
    margin-right: 40px;
}
.adres-item:last-child{
    margin-right: 0;  
}
.logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo-part{ 
    color: #2E2F42;
}
.logo-part:hover{
    color: #404bbf;
}
.logo:hover{
    color: #404bbf;
}
.logo:focus{
    color: #404bbf;
    
}

.header-nav{

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  color: #2E2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .header-nav::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px; 
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;

} */
.header-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    width: 100%;
    height: 4px;
    /* transition: transform 250ms linear; */
  transform: scaleX(0);
  background-color: #404bbf;
  border-radius: 2px;
}
.header-nav.curet{
    color: #404bbf;   
}
.header-nav:hover::after,
.header-nav:focus::after,
.header-nav.curet:after {
  opacity: 1;
  transform: scaleX(1);

}
.header-nav:hover,
.header-nav:active{
    color: #404bbf;
}
.header-nav:focus{
    color:#404bbf;
}
.adress-titlte{
    font-style: normal;
    color:#434455; 
    padding: 24px 0;
}
.adress-titlte:hover{
    color:#404bbf;
}
.adress-link{
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:active{
    color: #404bbf;
}
.adress-link:focus{
    color: #404bbf;
}



/* 2 блок */

.title{
    /* mobile */
    width: 320px;
    margin: auto;
    background-color: #2e2f42;
    padding: 96px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/people-office\ 1\ \(2\).jpg); 
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat; */
}

@media screen and (min-width: 768px) {
    /* tablet */
    .title{
        width: 768px; 
    }     
}  

@media screen and (min-width: 1158px) {
    .title{
        /* desctop */
        width: 1440px;
        padding: 188px 0;

    }     
}   

.page-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    color: #FFF;
    line-height: 60px; 
    letter-spacing: 1.12px;
    line-height: 1.07;
    max-width: 496px;
    display: block;
    margin: auto;
    margin-bottom: 48px;   */
}
@media screen and (min-width: 768px) {
    /* tablet */
    .page-title{
        
    }     
}  
@media screen and (min-width: 1158px) {
    .page-title{
        /* desctop */
        font-size: 56px;
        line-height: 60px; 
        letter-spacing: 1.12px;
        line-height: 1.07;
        max-width: 496px;

    }     
}   













.button-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:hover{
    background-color:#404BBF;   
}
.button-text:focus{
    background-color:#404BBF;
}




/* 3-block 
Feature*/

.feature-section{
    /* mobile */
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .feature-section{
        /* desctop */
        padding: 120px 0;
    }     
}    
.feuter-section-list{
    /* mobile */
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  

}

@media screen and (min-width: 768px) {
    /* tablet */
    .feuter-section-list{
        gap: 24px;
    }     
}  

@media screen and (min-width: 1158px) {
    .feuter-section-list{
        /* desctop */
        gap: 24px;
    }     
}    

.feuter-section-list-item{
    /* mobile */
    width: 288px;

}
@media screen and (min-width: 768px) {
    /* tablet */
    .feuter-section-list-item{
        width: 365px; 
        width: calc((100% - 72px * 1) / 2)
    }     
}  

@media screen and (min-width: 1158px) {
    .feuter-section-list-item{
        /* desctop */
        width: 264px;
        /* width: calc((100% - 72px * 3) / 4) */
    }     
}    


@media screen and (min-width: 1158px) {
    .feauter-item-wrapper{
        /* desctop */
        display: flex;
       align-items: center;
       justify-content: center;
       height: 112px;
       background-color: #f4f4fd;
       border-radius: 4px;
       margin-bottom: 8px;
       border: 1px solid #8E8F99;
    }     
}  

 
@media screen and (max-width: 1157.9px) {
    .feauter-item-wrapper{
        /* desctop */
        display: none;
    }     
}    

.text-title{
    /* mobile */
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center; 
    color:#2e2f42;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    /* tablet */
    .text-title{
        text-align: start;
        
    }     
}  

@media screen and (min-width: 1158px) {
    .text-title{
        /* desctop */
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px
    }     
}    
.text-section{
    /* mobile */
    color:#434455;
    margin-bottom: 8px; */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
@media screen and (min-width: 1158px) {
    .text-section{
        /* desctop */
        font-weight: 400;
        letter-spacing: 0.32px;
    }     
}    
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.text-section:hover{
    transform: translateY(0%);
    
}




/* 4 block
Our team */


.tim-box{
    /* mobil */
    padding: 96px 0;
    background-color: #F4F4FD;
    
}    

@media screen and (min-width: 1158px) {
    .tim-box {
        /* desctop */
        padding: 120px 0;
    }     
}    

.time-title,
.title-portfolio{
    /* mobile */
    margin-bottom: 72px;  
    margin-top: 96px;
  
}  
@media screen and (min-width: 1158px) {
    .time-title {
        /* desctop */
        margin-top: 120px;
    }     
}    


.tim-list{
    /* mobile */
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    
}    
.tim-info{
    /* mobile */
    max-width:264px;
    width: 100%;
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
@media screen and (min-width: 768px) {
    /* tablet */
    .tim-list{
        gap: 64px 24px;
       
    }     
}    
@media screen and (min-width: 768px) {
    /* tablet */
    .tim-info {
        width: calc((100% - 24px * 1) / 2);
        
    }     
}    
@media screen and (min-width: 1158px) {
    /* desctop */
    .tim-list{
        gap: 24px;
       
    }         
}        

@media screen and (min-width: 1158px) {
    /* desctop */
    .tim-info {
        width: calc((100% - 24px * 3) / 4);
        
    }     
}    

.tim-name-text{
    padding: 32px;
}    
.time-title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
}    
.tim-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}    
.icon-item{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.icon-item:hover,
.icon-item:focus{
 background-color: #404bbf;      
} 

.icon{
    fill:  #f4f4fd;
}    


.social-icon{
    width: 40px; 
    height: 40px;
}    
.social-list-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}    



/* 
5 block 
Portfolio */


.portfolio{
    /* mobile */
    padding: 96px 0;
    
}
@media screen and (min-width: 1158px) {
    .portfolio {
        /* desctop */
        padding: 120px 0;
    } 
}
.title-portfolio{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;

} 

@media screen and (min-width: 1158px) {
    .title-portfolio {
        /* desctop */
        margin-top: 120px;
    } 
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item{
    /* mobile */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    /* tablet */
    .portfolio-list{
        gap: 72px 24px;
       
    } 
}
@media screen and (min-width: 768px) {
    /* tablet */
    .portfolio-list-item {
        width: calc((100% - 24px * 1) / 2);
        
    } 
}

@media screen and (min-width: 1158px) {
    /* desctop */
    .portfolio-list{
        gap: 24px;
       
    }     
}    

@media screen and (min-width: 1158px) {
    /* desctop */
    .portfolio-list-item{
        width: calc((100% - 24px * 2) / 3);
        
    } 
}
.img-portfolio{
    position: relative;
    overflow: hidden;
}
.img-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item:hover p{
    transform: translateY(0%);
}
.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-title-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.imgn-title{
    margin-bottom: 8px;
    line-height:1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500
}











.down-block{
   background-color: #2e2f42;
   padding: 100px 0;
   
}  
.footer-logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase; 
    background-color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-part{
    color: #F4F4FD;
    background-color: #2E2F42;
}
.footer-logo:hover
.footer-logo:focus{
    color: #404bbf;
}
.futer-text-section{
  color: #F4F4FD;
 font-family: Roboto;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.32px;
 background-color: #2E2F42;
 width: 264px;
}
.logo-paragraf{
    margin-right: 120px;
    margin-left: 156px;
}

.futer-container{
    display: flex;
   align-items: baseline
}
.futer-cosial-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.futer-list-link{
    display: flex;
    gap: 16px;
}
.futer-link{
    width: 40px;
    height: 40px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link:hover,
.link:focus{
    background-color: #31d0aa;
}
.link-icon{
    fill: #f4f4fd;
}
/* Modal window */
.backdrop{
    position: fixed;
    /* pointer-events: none; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
}
.backdrop.is-hiden{
    opacity: 0;
    visibility: hidden;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.form-close-button{
    fill: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-button:hover .modal-btn-icon,
.form-close-button:focus .modal-btn-icon{
    fill: #ffffff;  
}




.form-close-button:hover{
    background-color: #404bbf;
    border: none;
    /* fill: #ffffff; */
}


.form-close-button:focus{
   background-color: #404bbf;
   border: none;
   /* fill: #ffffff; */
}




.modal-btn-icon{
   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-align: center;
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 16px;

}
.form{
    margin-bottom: 8px;
}
.name{
    font-size: 12px;
    /* line-height: 1.17; */
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}
.form-input-name{
    position: relative;
}
.input-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input-name:focus,
.input-name:hover{
    border-color: #4D5AE5; 
}
.input-name-icon{
    fill: #2E2F42; 
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.input-name-icon:focus,
.input-name-icon:hover{
    fill: #4D5AE5; 
}
.coment{
    margin-bottom: 16px;
}
.coment-area{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.coment-area:focus{
    border-color: #4D5AE5;
}

.check-box{
    margin-bottom: 24px;

}
.check-box-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  #8e8f99;

}
.check-box-text-item{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }



  .item.visually-hidden:checked + .form-label-checkbox > .checkbox-icon-box{
    background-color:#404bbf;
    border: none;
    fill:#F4F4FD;
  }
      


  .checkbox-icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    margin-right: 8px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input-checkbox:checked + .checkbox-icon-box {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  
  .label-checkbox-link {
    color: #4d5ae5;
  }
  .form-send-button {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin: auto;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }
 /* footer form */
 .footer-form-box {
    margin-left: 80px;
  }
  .footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-form .footer-form-input[placeholder="E-mail"] {
    color: #ffffff;
  }
  .footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .footer-button-icon {
    margin-left: 16px;
    fill: #fff;
  }